Button{
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 6px;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-transform: uppercase;
    width: 600px;
  }
#theResult{
    height: 100px;
    width: 100px;
    padding: 50px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 10px;  
    font-size:80px;
    text-align: center;
  }