  button {
    background-color:  black;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 10px;
    width: 100px;
  }
  #ph {
    height: 100px;
    width: 100px;
    border: 2px black;
    border-radius: 10px;  
    font-size:60px;
  }